$color-main: #2489f3;  // 主题色
$color-ori: #e99605;
$color-navBg: #222; // 导航栏等的背景色
$color-mainBg: #2d2e31; // 主体背景色
$color-mainBorder: #2a2d2f; // 主体边框色
$color-fontMain: #fff; // 主体字体颜色
$color-fontMainDark: rgba(34, 34, 34, .81);
$color-fontDisabled: #8e8e8e;
$color-fontHelp: #ddd;
$color-adaptBg: #1d1f20; // 移动端侧边栏背景色
$color-uploadShow: #111;
$color-adaptBorder: #333; // 移动端侧边栏边框色
$color-footerBorder: #505050;
$color-fontFooter: #a2a2a2;
$color-fontForm: #909399;
$color-maskBg: rgba(255, 255, 255, .3);
$color-dialogInnerBorder: #e5e5e5;
$color-zip: #999;
$color-dialogTitle: #888;
$color-dialogBody: #efefef;
$color-second: #ccc;
$color-uploadBorder: #ddd;
$color-dark: rgba(0, 0, 0, 0);
$color-tag: #191919;
$color-category: #3a3a3a;
$color-modelBtn: rgba(0, 0, 0, .5);
$color-helpBg: rgba(0, 0, 0, .8);
$color-radio: #0e0e0e;
$color-radiohover: #646769;
$color-animation: #777;
$color-noteBorder: #737373;
$color-singleNoteHeader: #6f6f6f;
$color-noteDialog: #3c3c3c;
$color-noteDialogBorder: #777171;